<div class="container">
  <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="row">
                <div class="col-6">
                  <h5>
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</h5>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-primary btn-sm btn-block">
                    <i class="fa fa-share" aria-hidden="true"></i> Continue shopping</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-2">
                <img class="img-fluid" src="http://placehold.it/100x70">
              </div>
              <div class="col-4">
                <h4 class="product-name">
                  <strong>Product name</strong>
                </h4>
                <h4>
                  <small>Product description</small>
                </h4>
              </div>
              <div class="col-6">
                <div class="d-inline-block">
                  <h6>
                    <strong>25.00
                      <span class="text-muted">x</span>
                    </strong>
                  </h6>
                </div>
                <div class="d-inline-block">
                  <input type="text" class="form-control form-control-sm" value="1">
                </div>
                <div class="d-inline-block">
                  <button type="button" class="btn btn-link btn-xs">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="color: red"></i>
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-2">
                <img class="img-fluid" src="http://placehold.it/100x70">
              </div>
              <div class="col-4">
                <h4 class="product-name">
                  <strong>Product name</strong>
                </h4>
                <h4>
                  <small>Product description</small>
                </h4>
              </div>
              <div class="col-6">
                <div class="d-inline-block">
                  <h6>
                    <strong>25.00
                      <span class="text-muted">x</span>
                    </strong>
                  </h6>
                </div>
                <div class="d-inline-block">
                  <input type="text" class="form-control form-control-sm" value="1">
                </div>
                <div class="d-inline-block">
                  <button type="button" class="btn btn-link btn-xs">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="color: red"></i>
                  </button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-2">
                <img class="img-fluid" src="http://placehold.it/100x70">
              </div>
              <div class="col-4">
                <h4 class="product-name">
                  <strong>Product name</strong>
                </h4>
                <h4>
                  <small>Product description</small>
                </h4>
              </div>
              <div class="col-6">
                <div class="d-inline-block">
                  <h6>
                    <strong>25.00
                      <span class="text-muted">x</span>
                    </strong>
                  </h6>
                </div>
                <div class="d-inline-block">
                  <input type="text" class="form-control form-control-sm" value="1">
                </div>
                <div class="d-inline-block">
                  <button type="button" class="btn btn-link btn-xs">
                    <i class="fa fa-trash-o fa-lg" aria-hidden="true" style="color: red"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
          <div class="card-footer">
            <div class="row text-center">
              <div class="col-9">
                <h4 class="text-right">Total
                  <strong>$50.00</strong>
                </h4>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-success btn-block">
                  <i class="fa fa-credit-card-alt" aria-hidden="true"></i> Checkout</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  