<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card rounded-0">
                        <div class="card-header">
                            <h3 class="mb-0">{{headerTitle}}</h3>
                        </div>
                        <div class="card-body">
                            <form #f="ngForm" autocomplete="off" (ngSubmit)="save(f.value)">
                                <div class="card" *ngIf="product.imagePath">
                                    <img class="card-img-top" src="{{product.imagePath}}" alt="Card image cap">
                                    <div class="card-body" *ngIf="viewOnly">
                                        <h4 class="card-title">{{product.name}}</h4>
                                        <p class="card-text">{{product.description}}</p>
                                        <button type="button" routerLink="/admin/products" class="btn btn-primary float-left">
                                            <i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i> Back</button>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="!viewOnly">
                                    <div class="form-group">
                                        <label for="uname1">Cusine Name</label>
                                        <input #name="ngModel" [(ngModel)]="product.name" [readonly]="viewOnly" name="name" id="name" type="text" class="form-control form-control-lg rounded-0"
                                            placeholder="Enter Cusine Name..." required>
                                        <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
                                            Cusine Name is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cusine Description</label>
                                        <input #description="ngModel" [(ngModel)]="product.description" name="description" id="description" type="text" class="form-control form-control-lg rounded-0"
                                            placeholder="Enter Cusine Description" required>
                                        <div class="alert alert-danger" *ngIf="description.touched && description.invalid">
                                            Cusine description is required.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Image Url</label>
                                        <input #imagePath="ngModel" [(ngModel)]="product.imagePath" name="imagePath" id="imagePath" type="text" class="form-control form-control-lg rounded-0"
                                            placeholder="Enter Cusine image url" url required>
                                        <div class="alert alert-danger" *ngIf="imagePath.touched && imagePath.invalid">
                                            <div *ngIf="imagePath.errors.required">Image URL is required.</div>
                                            <div *ngIf="imagePath.errors.url">Please enter a valid URL.</div>
                                        </div>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input #isActive="ngModel" [(ngModel)]="product.isActive" name="isActive" type="checkbox" class="form-check-input"> Active
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button [disabled]="!f.valid" type="button" class="btn btn-success float-right" (click)="save(f.value)">
                                <i class="fa fa-floppy-o fa-lg" aria-hidden="true"></i> Save</button>
                            <button *ngIf="id" type="button" (click)="delete()" class="btn btn-danger float-right btn-primary-spacing">
                                <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</button>
                            <button type="button" routerLink="/admin/products" class="btn btn-primary float-left">
                                <i class="fa fa-home fa-fw fa-lg" aria-hidden="true"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>